<ul class="social-media-list">
  <li><a href="https://github.com/juliuspfadt"><img alt="Github logo" src="/assets/images/github-mark.png" width="24" height="24" /> </a></li>
  <li><a href="https://www.linkedin.com/in/julius-m-pfadt-8b8a45179"><img alt="linkedin logo" src="/assets/images/linkedin-logo.png" width="24" height="24" /> </a></li>
  <li><a href="https://orcid.org/0000-0002-0758-5502"><img alt="ORCID logo" src="/assets/images/orcid.png" width="24" height="24" /> </a> </li>
  <li><a href="https://scholar.google.com/citations?user=Db1-WloAAAAJ&hl=en"><img alt="google scholar logo" src="/assets/images/google-scholar_icon.png" width="24" height="24" /> </a> </li>


</ul>
